:root{
    --cor-fundo:green;
    --cor-principal:red;
    --cor-segundario:blue;
    --cor-destaque:yellow;
    --cor-texto:black;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    align-items: center;
    justify-content: center;
}