:root{
    --cor-fundo:green;
    --cor-principal:red;
    --cor-segundario:blue;
    --cor-destaque:yellow;
    --cor-texto:black;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
button{
    background-color: var(--cor-segundario);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}